.container {
  display: flex; /* Usamos Flexbox para dividir el contenido */
  justify-content: space-between; /* Espacio entre el texto y la imagen */
  align-items: center; /* Alinea verticalmente los elementos */
  height: 90vh; /* Ocupa toda la altura de la ventana */
  padding: 0 5%; /* Añade un poco de espacio a los lados */
  margin-bottom: clamp(20vh, 0vh, 0px); /* Espacio en la parte inferior */
}

.containerUno {
  width: 50%; /* Ocupa la mitad de la pantalla */
  padding-left: clamp(0px, 5vw, 20px); /* Espacio a la izquierda */
  text-align: left; /* Alinea el texto a la izquierda */
}

.title {
  font-size: clamp(2.3rem, 4vw, 15rem); /* Tamaño de fuente adaptable */
  color: #333; /* Color del texto */
  margin: 0%;
}

.description {
  width: clamp(340px, 55%, 900px); /* Ancho adaptable */
  font-size: clamp(90%, 1vw, 3rem); /* Tamaño de fuente adaptable */
  color: #666; /* Color del texto */
  margin-bottom: 20px; /* Espacio debajo de la descripción */
}

.containerDos {
  width: 50%; /* Ocupa la mitad de la pantalla */
  display: flex; /* Usamos Flexbox para centrar la imagen */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.headerImage {
  width: clamp(250px, 85%, 10000px); /* Ancho adaptable */
}
.headerImageDos {
  display: none;
}

@media (max-width: 835px) {
  .container {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    height: auto; /* Altura automática */
  }
  .containerUno {
    width: 100%; /* Ocupa todo el ancho */
    padding: 0; /* Sin padding */
    display: flex;
    text-align: center; /* Centra el texto */
    align-items: center; /* Centra horizontalmente */
    flex-direction: column; /* Cambia a columna */
  }
  .headerImage {
    display: none;
  }
  .headerImageDos {
    display: block;
    border-radius: 21px;
    margin-top: 3vh;
    width: clamp(300px, 50%, 400px); /* Ancho adaptable */
  }
}
@media (min-width: 400px) and (max-width: 480px) {
  .headerImageDos {
    margin: 20% 0%;
    width: 400px; /* Ancho adaptable */
  }
}
@media (min-width: 600px) {
  .headerImageDos {
    margin: 15% 0%;
    width: 400px; /* Ancho adaptable */
  }
}
@media (min-width: 810px) {
  .headerImageDos {
    margin: 10% 0%;
    width: 700px; /* Ancho adaptable */
  }
}
